.no-house-con {
    margin-top: 12rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.no-house-con img {
    width: 12rem;
    margin-bottom: 2rem;
}
.no-house-word {
    color: #666;
}
.no-house-ling-word {
    display: inline-block;
    margin-left: 1rem;
    color: #21b97a;
}