.house-package-con {
    width: 100%;
    height: 15rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: .5rem 0;
}
.house-item-package-item {
    width: 5rem;
    height: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-left: 1.8rem;
    color: #000;
}
.house-item-package-word {
    white-space: nowrap;
    font-size: 1.4rem;
}
.house-item-select-package-item {
    color: #21b97a;
}